.home-container {
    background-color: greenyellow;
}

.home-container__inner {
    background-color: #fff;
}   

.home-container__inner-content {
    background-color: #000;
}

.home-container__inner-content-title {
    color: #fff;
}

.home-container__inner-content-description {
    color: #fff;
}



.home-container__inner-content-button {
    background-color: #fff;
    color: #000;
}


